/*
	Алтухов Илья
	zompin@ya.ru
*/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Calibri, sans-serif;
}

#wrapper {
	text-align: center;
}

.gallery {
	display: inline-block;
	-webkit-columns: 297px 4;
	   -moz-columns: 297px 4;
			columns: 297px 4;
	-webkit-column-gap: 29px;
	   -moz-column-gap: 29px;
			column-gap: 29px;
	text-align: left;
	padding: 30px 2px 0;
	-webkit-column-width: 297px;
	column-width: 297px;
	width: 1280px;
	overflow: hidden;

	&__item-cont {
		padding-bottom: 30px;
		-webkit-column-break-inside: avoid;
				  page-break-inside: avoid;
					   break-inside: avoid;
	}

	&__item {
		transform: translateZ(0);
		border-radius: 3px;
		box-shadow: 0 0 2px 1px #c2c2c2; 
		width: 297px;

		@media all and (max-width: 768px) {
			min-height: 320px;
			width: auto;
			position: relative;
		}

		@media all and (max-width: 680px) {
			width: 297px;
		}
	}

	@media all and (max-width: 1296px) {
		max-width: 954px;
		-webkit-columns: 297px 3;
		   -moz-columns: 297px 3;
				columns: 297px 3;
	}

	@media all and (max-width: 1000px) {
		max-width: 627px;
		-webkit-columns: 297px 2;
		   -moz-columns: 297px 2;
				columns: 297px 2;
	}

	@media all and (max-width: 950px) {
		max-width: 627px;
	}

	@media all and (max-width: 768px) {
		-webkit-columns: auto;
		   -moz-columns: auto;
				columns: auto;
		max-width: 640px;
		width: auto;
	}
}

.user {
	padding: 11px 52px 11px 62px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 62px;
	overflow: hidden;

	&__avatar {
		width: 40px;
		height: 40px;
		border-radius: 40px;
		position: absolute;
		top: 11px;
		left: 11px;
		overflow: hidden;

		&-img {
			width: 40px;
			height: 40px;
		}
	}

	&__username {
		font-size: 15px;
		line-height: 1.1em;
		font-weight: bolder;

		&-inner {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			text-decoration: none;
			color: #323232;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__location {
		font-size: 15px;
		line-height: 1.1em;
		color: #323232;

		&-inner {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	&__updated {
		position: absolute;
		height: 1em;
		top: 0;
		right: 10px;
		bottom: 0;
		margin: auto;
		color: #989898;
		font-size: 16px;
	}

	@media all and (max-width: 768px) {
		margin-left: 320px;
	}

	@media all and (max-width: 680px) {
		margin-left: 0;
	}
}

.photo {
	transition: opacity .6s;

	&_blur {
		opacity: .8;

		&:hover {
			opacity: 1;
		}
	}

	&__img {
		max-width: 100%;
		opacity: 0;
		transition: opacity 1.2s;
		vertical-align: top;
		width: 297px;
		height: 297px;
		border: none;

		&_loaded {
			opacity: 1;
		}

		@media all and (max-width: 768px) {
			width: 320px;
			height: 320px;
		}
	}

	@media all and (max-width: 768px) {
		position: absolute;
		opacity: 1;
		top: 0;
	}

	@media all and (max-width: 680px) {
		position: static;
	}
}

.desc {
	padding: 15px 12px 25px;
	position: relative;
	
	&:before {
		content: '';
		border-top: 1px solid #f0f0f0;
		position: absolute;
		top: 0;
		right: 15px;
		left: 15px;
		display: none;
	}

	&__likes-amount {
		font-size: 14px;
		line-height: 1em;
		color: #313131;
		margin-left: 7px;
	}

	&__text {
		line-height: 1.1em;
		margin-top: 15px;
		color: #313131;
		font-size: 16px;
	}

	@media all and (max-width: 768px) {
		margin-left: 320px;

		&:before {
			display: block;
		}
	}

	@media all and (max-width: 680px) {
		margin-left: 0;
	}
}

.like-button {
	border:none;
	padding: 0;
	width: 14px;
	height: 12px;
	cursor: pointer;
	background: url(/imgs/like.png) no-repeat 50% 50%;
	vertical-align: middle;
	transition: opacity 0.6s;

	&:hover {
		opacity: 0.6;
	}
}

.loader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: tranlsateZ(0);
	background: url(/imgs/loading.gif) no-repeat 50% 50%;
	background-size: 100px 100px;
}